body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('lib/BB/trailer.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.lineup{
  padding:5px 12px;
  float:right;
}

.otherway{
  padding:5px 12px;
  float:right;
}

.walt{
  content: url('lib/BB/walt1.png');
}

.walt2{
  content: url('lib/BB/walt2.png');
}

.sal{
  content: url('lib/BB/sal1.png');
}
.sal2{
  content: url('lib/BB/sal2.png');
}

.jesse{
  content: url('lib/BB/jesse-1.png');
  transform: rotateY(720deg);
}
.jesse2{
  content: url('lib/BB/jesse-2.png');
  transform: rotateY(720deg);
}


.hank{
  content: url('lib/BB/cop-1.png');
}
.hank2{
  content: url('lib/BB/cop-2.png');
}

.hank3{
  content: url('lib/BB/cop.png');
}
.hector{
  content: url('lib/BB/wheelchair.png');
}
.hector1{
  content: url('lib/BB/wheelchair1.png');
}
